{% extends '::base-clean.html.twig' %}
{% block content %}
Instructions to the user can be inserted here by editing the file:</br>
./src/sciplore/UIBundle/Resources/views/Starter

<div class="flow">
	<a href="{{path('experiment_index')}}">Begin Evaluation</a>
</div>
{% endblock %}