<div id="nav">
    <a href="{{path('experiment_index')}}">Go back to experiment selection</a>
    <a href="{{path('analysis_start') }}" target="_blank">Go to summary of results</a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}You are logged in as: {{app.user.username}} <a href="{{ path('logout') }}">Logout</a>{% endif %}
</div>

<h2 class="pblabel"></h2>
<div id="progressbar"></div>
